<nav class="navbar navbar-expand-lg navbar-light">

    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" routerLink="/inicial">Inicial</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Jogos
            </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" routerLinkActive="active" routerLink="/Jogos"> PlayStation</a></li>
                        <li><a class="dropdown-item" routerLinkActive="active" routerLink="/Jogos"> XBox</a></li>
                        <li><a class="dropdown-item" routerLinkActive="active" routerLink="/Jogos"> Nintendo</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" routerLink="/Consoles">Consoles</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" routerLink="/contato">Contato</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" routerLink="/carrinho">Carrinho</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" routerLink="/login">Login</a>
                </li>
            </ul>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="..." aria-label="Search">
                <button class="btn btn-primary" type="submit">Buscar</button>
            </form>
        </div>
    </div>

</nav>


<p class="texto-do-flip" data-bs-toggle="offcanvas" data-bs-target="#offcanvasTop">Clique Aqui</p>

<div class="offcanvas offcanvas-top" tabindex="-1" id="offcanvasTop" aria-labelledby="offcanvasTopLabel">

    <div class="offcanvasTopLabel">
        <p class="texto-do-flip">Estamos Esperando Por Você !!</p>
        <img class="foto-flip" src="..//..//../assets/jogos-de-videogame.png" style="width:45%">
    </div>
</div>
