<hr size="5">

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <form>
                <img class="foto-ofertas" src="..//..//../assets/ps5 controle com boneco.png" width="350px" height="250px">

                <h3>SOBRE PRÉ-VENDA</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque accusamus corporis perferendis, unde et fugit, labore nam similique nobis, rem saepe dolores magni quidem beatae! Corrupti vero adipisci laboriosam accusantium.
                </p>
                <h3>ESPECIFICAÇÕES</h3>
                <p><strong class="strong-especificaçoes">Plataforma:</strong> &nbsp; Playstation 4 <br> <strong class="strong-especificaçoes">Gênero:</strong> &nbsp; Ação <br>
                    <strong class="strong-especificaçoes"> Produtora:</strong> &nbsp; Ubisoft <br> <strong class="strong-especificaçoes"> Idioma:</strong> &nbsp; Português <br> <strong class="strong-especificaçoes">Português Tamanho:</strong> &nbsp; Ainda
                    a confirmar <br> <strong class="strong-especificaçoes">Data de Lançamento:</strong> &nbsp; Previsão 07/10/2022</p>
            </form>
        </div>



        <div class="col-md-6">
            <h1 class="texto-ja-tenho-cadastro"><img src="..//..//../assets/carrinho.svg" width="40px" height="40px"> >>> Nome do Jogo/Console
                <<< </h1>
                    <hr>
                    <div class="forma-de-pagamento">


                        <P class="pagamento-200">R$ 200,00</P>
                        <P class="pagamento-150">R$ 150,00</P>
                        <P>até <strong>5x</strong> de <strong>R$ 30,00</strong> sem juros </P>
                        <P>ou <strong>R$ 140,00</strong> via Pix</P>

                        <div class="radio">
                            <label>
              <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
              Cartão de crédito
            </label>
                        </div>
                        <div class="radio">
                            <label>
              <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
              Boleto
            </label>
                        </div>

                        <div class="radio">
                            <label>
              <input type="radio" name="optionsRadios" id="optionsRadios2" value="option3">
              Pix
            </label>
                        </div>
                        <div class="radio disabled">
                            <label>
              <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3" disabled>
              PayPal
            </label>
                        </div>
                    </div>
                    <br>
                    <form>
                        <div class="container-fluid">
                            <div class="row">
                                <div class=" col-6 ">
                                    <label for="inputtext">
                    <h5>Nome do Cartão</h5>
                  </label>
                                    <input type="text" class="form-control">
                                    <small id="emailHelp" class="form-text text-muted">Como esta no cartão.</small>
                                </div>
                                <div class="col-6 ">
                                    <label>
                    <h5>Número do cartão de crédito</h5>
                  </label>
                                    <input type="number" class="form-control">
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-4 ">

                                        <label>
                      <h5>Data de validade</h5>
                    </label>
                                        <input type="number" class="form-control">
                                    </div>
                                    <div class="col-4 ">
                                        <label>
                      <h5>CVV</h5>
                    </label>
                                        <input type="number" class="form-control">
                                    </div>

                                    <div class="col-4 ">
                                        <button type="button " class="btn btn-success "><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-credit-card" viewBox="0 0 16 16">
                                          <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v1h14V4a1 1 0 0 0-1-1H2zm13 4H1v5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V7z"/>
                                          <path d="M2 10a1 1 0 0 1 1-1h1a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1v-1z"/>
                                        </svg>Comprar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <hr>
        </div>
    </div>
</div>
