<div class="footer">
    <p>
        <a href="#"><img class="icones-footer" src="..//..//../assets/mail-unread-outline.svg">Entre em contato</a>
    </p>
    <p>
        <a href="#"><img class="icones-footer" src="..//..//../assets/location-outline.svg">Localização</a>
    </p>
    <p>
        <a href="#"><img class="icones-footer" src="..//..//../assets/shield-checkmark-outline.svg">Politica da Empresa</a>
    </p>
    <p><img class="icones-footer" src="..//..//../assets/earth-outline.svg">Games Ltda</p>
    <p><img class="icones-footer" src="..//..//../assets/code-slash-outline.svg">Desenvolvido por Willian</p>
</div>
