.texto-contato {
    text-align: center;
    margin: 35px auto;
}

.form-group {
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 20px;
}

.enviar-contato {
    margin-left: 60%;
    margin-top: 20px;
}
